{% extends 'base.html' %}
{% load static %}


{% block scripts %}
    <script src="{% static 'js/main.js' %}"> </script>
    
{% endblock scripts %}

{% block title %}
Home
{% endblock title %}

{% block content %} 
    <div class="w-100 text-center" >
        <form action="" id="search-form" autocomplete="off">
            {%csrf_token%}
            <input type="text" id="search-input" class="form-control" w-50 placeholder="Search for games">
        </form>
        <div id="results-box" class="results-card not-visible">
            
        </div>
    </div>


    <br>
    <br>
    {% for games in games %}
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">            <h5>{{games.title}}</h5>
            <p>{{games.summary}}</p>
            <a class="btn btn-success" href="{% url 'detail_view' games.id %}">View the {{games}}</a>
        </li>
    </ol>
    {% endfor %}
{% endblock content %}